<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="alien" class="com.app.Alien" scope="prototype">-->
    <bean id="alien" class="com.app.Alien" autowire="byName">
        <property name="age" value="21"/>
<!--        <property name="computer" ref="computer"/>-->


<!--        <property name="age" value="21"/>-->

        <!-- Setter Injection -->
<!--        <property name="laptop" ref="laptop1"/>-->

        <!-- Constructor Injection -->
<!--        <constructor-arg index="0" value="21"/>-->
<!--        <constructor-arg index="1" ref="laptop1"/>-->

     </bean>
<!--    <bean id="alien2" class="com.app.Alien">-->
<!--    </bean>-->
    <bean id="computer" class="com.app.Laptop">
    </bean>

</beans>
